<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:insert="~{/fragments/fragments.html :: head}" />
		<title>Home</title>
	</head>
	<body>
		<nav th:replace="~{/fragments/fragments.html :: main-nav}" />
		<main class="container my-5">
			<header>
				<h1 class="text-center text-dark my-4">Metallica</h1>
				<p th:text="${user}"></p>
			</header>
			<article class="bg-white rounded shadow p-4 mb-4">
				<figure class="d-flex justify-content-center mb-3">
					<img
						th:src="@{/img/Metallica_wordmark.svg.png}"
						alt="Metallica Logo"
						class="img-fluid"
					/>
				</figure>
				<h2 class="text-dark mt-4">Descripción</h2>
				<p>
					Metallica es una banda estadounidense de heavy metal,
					fundada en 1981 en Los Ángeles, aunque ha estado radicada en
					San Francisco durante la mayor parte de su carrera. Está
					integrada por el vocalista y guitarrista rítmico James
					Hetfield, el baterista Lars Ulrich, el guitarrista líder
					Kirk Hammet, y el bajista Robert Trujillo. Metallica es
					considerada como una de las bandas comercialmente más
					exitosas de todos los tiempos, habiendo vendido más de 125
					millones de álbumes en todo el mundo.
				</p>
				<h2 class="text-dark mt-4">Historia</h2>
				<p>
					Fue fundada en 1981 en Los Ángeles por Ulrich y Hetfield, a
					los que se les unirían Ron McGovney y Dave Mustaine. En
					1982, McGovney dejó la banda, siendo sustituido por Cliff
					Burton. Al año siguiente, Mustaine fue despedido por
					problemas de comportamiento, siendo reemplazado por Kirk
					Hammett, exguitarrista de Exodus. En 1986, durante una gira
					de conciertos, Burton fallece en un accidente mientras
					viajaba en un autobús en Suecia, lo cual provocó la entrada
					al grupo de Jason Newsted. En 2001, Newsted abandonó a la
					banda, siendo reemplazado por Robert Trujillo en 2003.
				</p>
			</article>
		</main>
		<footer th:replace="~{/fragments/fragments.html :: main-footer}" />
		<script
			src="/webjars/bootstrap/js/bootstrap.bundle.min.js"
			defer
		></script>
	</body>
</html>
